.row-centered {
		text-align:center;
}

.col-centered {
		display:inline-block;
		float:none;
		text-align:left;
		margin-right:-4px;
}

.footer {
		text-align: center;
		padding: 30px 0;
		margin-top: 70px;
		border-top: 1px solid #E5E5E5;
}
