<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
	<div class="row row-centered">
		<div class="col-md-8 col-centered search-bar">
			<form>
				<label></label>
				<p class="input-group">
					<input type="text" class="form-control" placeholder="Your location" ng-model="searchString">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-primary" ng-click="startSearching(searchString)" ng-disabled="working">Search</button>
					</span>
				</p>
			</form>
		</div>
	</div>
	<div class="row row-centered">
		<div class="col-xs-12 col-md-8 col-centered">
			<li class="list-group-item" ng-repeat="location in locations">
				<button class="btn btn-primary btn-going" ng-click="addMe(location)" ng-hide="location.userGoing" ng-disabled="working">Add me</button>
				<button class="btn btn-danger btn-going" ng-click="removeMe(location)" ng-show="location.userGoing" ng-disabled="working">Remove me</button>
				<a ng-href="{{location.url}}">{{location.name}}</a>
				<span class="pull-right">{{location.going}} Going</span>
			</li>
		</div>
	</di>
</div>

<footer class="footer">
	<div class="container">
			<p>Local Nightlife v0.0.0 |
				<a href="https://github.com/OAltr/LocalNightlife/issues?state=open">Issues</a></p>
	</div>
</footer>
